<form id='signup'>
  Email: <input type="email" name="email" value="">
  Password: <input type="password" name="password" value="">
  <input type="submit" value="Sign Up!">
</form>
<div class='uperrors'></div>
