<% if (user && user.id) { %>
  <%= user.escape('email') %> logged in! |
  <button id='signout'>Sign Out!</button>
<% } else { %>
  <form id='signin'>
    Email: <input type="email" name="email" value="">
    Password: <input type="password" name="password" value="">
    <input type="submit" value="Sign in!">
  </form>
  <div class='inerrors'></div>
  | <button id='signupbutton'>Sign Up!</button><div id='signupform'></div>
<% } %>
