<% if (user && user.id) { %>
  <%= user.escape('email') %> logged in! |
  <button class="btn btn-warning btn-xs" id='signout'>Sign Out!</button>
<% } else { %>
  <form id='signin'>
    Email: <input type="email" name="email" value="">
    Password: <input type="password" name="password" value="">
    <input type="submit" class="btn btn-primary btn-sm" value="Sign in!">
  </form>
  <div class='inerrors'></div>
  | <button class="btn btn-success btn-sm" id='signupbutton'>Sign Up!</button><div id='signupform'></div>
<% } %>
