<div class='panel'>
  <button type="button" class="delete close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <a href="#/activities/<%= activity.id %>" title='Double-Click to Edit'><%= activity.escape('title') %></a>
</div>
