<form id="update">
  <input type="text" name="title" value="<%= activity.escape('title') %>"
         placeholder="Enter title...">
  <input type="submit" value="Update Activity">
</form>
<div class='errors'></div>
