<% if (user.id) { %>
  <div class='errors'></div>
  <form id="new">
    <div class='activity-form'>
      <label class='sr-only' for="activity">Timeline Title</label>
      <input class="form-control" type="text" name="title" value="" placeholder="Enter title...">
    </div>
    <input type="submit" class="btn btn-success btn-sm" value="Add Timeline">
  </form>
  <div class='activities'></div>
<% } %>
