<% if (user.id) { %>
  <h4>Activites:</h4>
  <div class='errors'></div>
  <form id="new">
    <div class='activity-form'>
      <label class='sr-only' for="activity">Activity</label>
      <input class="form-control" type="text" name="title" value="" placeholder="Enter title...">
    </div>
    <input type="submit" class="btn btn-success btn-sm" value="Add Activity">
  </form>
  <div class='activities'></div>
<% } else { %>
  <h4>Top Matches:</h4>
  <div class='matches'></div>
<% } %>
