<% if (user.id) { %>
  Your Activites:
  <form id="new">
    <input type="text" name="title" value="" placeholder="Enter title...">
    <input type="submit" class="btn btn-default btn-sm" value="Add Activity">
  </form>
  <div class='errors'></div>
  <ul class='activities'></ul>
<% } else { %>
  Popular Matches:
  <ul class='matches'></ul>
<% } %>
