<div id='activity-show' class='section'>
  <div>
    <div class='section'><h3><%= activity.escape('title') %></h3></div>
    <div class='section'>
      <h3 id='match-title'></h3>
    </div>
  </div>
  <div class="occurrence-new triangle-border left">
    <form id='add'>
      <div class="form-group">
        <textarea class="form-control" name="occurrence[body]"
          placeholder="Enter description..."></textarea>
      </div>
      <div class="form-group">
        <input type="date" name="occurrence[date]" value="">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="occurrence[image]"
          placeholder="Enter picture..." value="">
      </div>
      <input class="btn btn-success" type="submit" value="Add Occurrence">
      <button class="btn btn-warning btn-xs" id="cancel">Cancel</button>
    </form>
    <div class='errors'></div>
  </div>
  <div class='occurrences'></div>
</div>
<div id='match-show' class='section'></div>
<div class='section'>
  <ul id='match-list'></ul>
</div>
