// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.section {
  float: left;
  padding: 10px 10px;
}

.o-left {
  height: 100px;
}

.o-right {
  height: 100px;
}
