// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.section {
  float: left;
  padding: 10px 10px;
}

#activity-show {
  width: 600px;
}

.title {
  width: 100%;
  margin: 0 auto;
}

.occurrence-new {
  position: absolute;
  left: 165px;
  top: 0px;
  background: rgba(255, 245, 255, 0.9);
  padding: 10px 10px 10px 10px;
  border: 2px solid gray;
  border-radius: 10px;
  z-index: 2;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}

.occurrence-new:hover {
  background: floralwhite;
  border-color: gold;
}

.editable {
  float: left;
}

.uneditable {
  float: right;
}

.timeline-window {
  clear:both;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.occurrences {
  position: relative;
  margin: 0 auto;
  width: 40px;
  border: 1px solid gray;
}

.scroll-up {
  position: absolute;
  margin: 0 auto;
  top: 0px;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
}

.scroll-down {
  position: absolute;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  bottom: 0px;
}

.timeline {
  position: relative;
  clear: both;
  width: 100%;
  background: linear-gradient(to right, white, rgba(182, 192, 245, 0.35), white)
}

.closed {
  display: none;
}

.opened {
  display: block;
}

.focus {
  z-index: 1;
}

.occurrence.left:hover {
  z-index: 1;
  background: floralwhite;
  border-color: gold;
}

.occurrence.right:hover {
  z-index: 1;
  background: floralwhite;
  border-color: gold;
}

.occurrence.details {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}

.occurrence.left {
  position: absolute;
  left: -230px;
  top: -45px;
  width: 200px;
  border: 2px solid gray;
  background: rgba(255, 245, 255, 0.9);
  border-radius: 10px;
}

.occurrence.right {
  position: absolute;
  left: 80px;
  top: -45px;
  min-width: 200px;
  border: 2px solid gray;
  background: rgba(245, 255, 250, 0.9);
  border-radius: 10px;
}

.occurrence.delete {
  margin: 10px 10px 10px 10px;
  min-height: 15px;
}

button.occurrence.delete {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.occurrence.date {
  margin: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  border: 1px solid gray;
  border-radius: 5px;
  background: white;
}

.occurrence.body {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  background: white;
}

.open.right {
  background: rgba(245, 255, 250, 1);
  border-radius: 10px;
}

.open.left {
  background: rgba(255, 245, 255, 1);
  border-radius: 10px;
}

.open.pressed {
  background: black;
}

.occurrence.form {
  padding: 10px 10px 10px 10px;
}




.triangle-border:before {
  content:"";
  position:absolute;
  border-style:solid;
}

.triangle-border:after {
  content:"";
  position:absolute;
  border-style:solid;
}

// outer triangle border for right
.triangle-border.right:before {
  top: 45px;
  bottom: auto;
  left: auto;
  left: -28px;
  border-width: 12px 28px 12px 0;
  border-color: transparent rgba(128, 128, 128, 0.8);
}

.triangle-border.right:hover:before {
  top: 45px;
  bottom: auto;
  left: auto;
  left: -28px;
  border-width: 12px 28 12px 0;
  border-color: transparent gold;
}

// inner triangle background for right
.triangle-border.right:after {
  top: 48px;
  bottom: auto;
  left: auto;
  left: -21px;
  border-width: 9px 21px 9px 0;
  border-color: transparent rgba(245, 255, 250, 1);
}

.triangle-border.right:hover:after {
  top: 48px;
  bottom: auto;
  left: auto;
  left: -21px;
  border-width: 9px 21px 9px 0;
  border-color: transparent floralwhite;
}


// outer triangle border for left
.triangle-border.left:before {
  top: 45px;
  bottom: auto;
  left: auto;
  right: -28px;
  border-width: 12px 0 12px 28px;
  border-color: transparent rgba(128, 128, 128, 0.8);
}

.triangle-border.left:hover:before {
  top: 45px;
  bottom: auto;
  left: auto;
  right: -28px;
  border-width: 12px 0 12px 28px;
  border-color: transparent gold;
}

// inner triangle background for left
.triangle-border.left:after {
  top: 48px;
  bottom: auto;
  left: auto;
  right: -21px;
  border-width: 9px 0 9px 21px;
  border-color: transparent rgba(255, 245, 255, 1);
}

.triangle-border.left:hover:after {
  top: 48px;
  bottom: auto;
  left: auto;
  right: -21px;
  border-width: 9px 0 9px 21px;
  border-color: transparent floralwhite;
}
