<div id='errors-<%= occurrence.id %>'></div>
<form class="occurrence form" id="update">
  <input class="form-control" type="hidden" name="activity_id"
           value="<%= occurrence.escape('activity_id') %>">
  <div class="form-group">
    <input type="date" name="occurrence[date]"
           value="<%= occurrence.escape('date') %>">
  </div>
  <div class="form-group">
    <textarea class="form-control" name="occurrence[body]" placeholder="Enter description..."
      ><%= occurrence.escape('body') %></textarea>
  </div>
  <button id='update' class="btn btn-default">Update</button>
  <button class="btn btn-warning btn-xs" id="cancel">Cancel</button>
</form>
