<div class='date-line'>
  <div class='date-label'><%= occurrence.escape('date') %></div>
</div>
<button class='open left'></button>
<div class='occurrence details left closed triangle-border'
  <% if (editable) { %>
     title='Double-Click to Edit'
  <% } %> 
  >
  <div class='edit-form'>
    <div class='occurrence date'>
      <%= occurrence.escape('date') %>
    </div>
    <div class='occurrence body'>
      <%= occurrence.escape('body') %>
    </div>
    <% if (editable) { %>
      <div class='occurrence delete'>
        <button class='occurrence delete btn btn-danger btn-xs' >Delete</button>
      </div>
    <% } %>
  </div>
  <div id="errors-<%= occurrence.id %>"></div>
</div>
