<button class='open left'>-o-</button>
<div class='occurrence left closed'>
  <div class='occurrence date'>
    <%= occurrence.escape('date') %>:
  </div>
  <div class='occurrence body'>
    <%= occurrence.escape('body') %>
  </div>
  <div class='occurrence delete'>
    <button class='occurrence delete'>Delete</button>
  </div>
</div>
