<button class='open right'>-o-</button>
<div class="occurrence right closed">
  <div class='occurrence date'>
    <%= occurrence.escape('date') %>:
  </div>
  <div class='occurrence body'>
    <%= occurrence.escape('body') %>
  </div>
</div>
