<div class='date-line'>
	<div class='date-label'><%= occurrence.escape('date') %></div>
</div>
<button class='open right'></button>
<div class="occurrence details closed right triangle-border">
  <div class='occurrence date'>
    <%= occurrence.escape('date') %>
  </div>
  <div class='occurrence body'>
    <%= occurrence.escape('body') %>
  </div>
</div>
